@page "/Expo"
@inject IDbContextFactory<MuseoingContext> DbFactory

<h3>Exposicion</h3>
<EditForm Model="stand">
    Nombre: <input type="text" @bind="stand.Nombre" />
    Explicacion: <input type="text" @bind="stand.Explicacion" />
</EditForm>
<button @onclick="CargarStand">Agregar stand</button>

<br>
<br>
<br>
@if (stands == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <ul>
        @foreach (var stand in stands)
        {
            <h5>El stand n° @(Array.FindIndex(stands, c => c.StandId == stand.StandId) + 1) es: </h5>
            <li>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Explicacion</th>
                            <th>Estado</th>
                            <th>Seccion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@stand.Nombre</td>
                            <td>@stand.Explicacion</td>
                            <td>@stand.Estado</td>
                            <td>@stand.Seccion</td>
                        </tr>
                    </tbody>
                </table>
            </li>
        }
    </ul>
}

<br>
<br>
<br>
<br>
<br>

@if (stands is not null)
{
    @if (stands.Count() < 1)
    {
        <p><em>No hay Stand para editar gracias!</em></p>
    }
    else
    {
        <a href="/EditarStand"> <BSButton>Editar</BSButton></a> <BSButton @onclick="EliminarStand">Eliminar</BSButton>
        <select @bind="standAEliminar">
            @foreach (var stand in stands)
            {
                <option value="@stand.StandId">@stand.Nombre</option>
            }
        </select>

    }
}

@code {

    private class StandViewModel
    {
        public string Nombre { get; set; }
        public string Explicacion { get; set; }
        public TipoSeccion Seccion { get; set; }
    }

    private StandViewModel stand { get; set; } = new();
    private Stand[]? stands;
    private int standAEliminar;

    protected override async Task OnInitializedAsync()
    {
        using var db = DbFactory.CreateDbContext();

        stands = await db.Stands.Where(c => c.Seccion == TipoSeccion.Rally).ToArrayAsync();
        stand.Seccion = TipoSeccion.Rally;
    }

    private async void CargarStand()
    {
        using var db = DbFactory.CreateDbContext();

        if (stand.Nombre is not null)
        {
            if (stand.Explicacion is not null)
            {
                if (stand.Seccion == TipoSeccion.Formula1 || stand.Seccion == TipoSeccion.Exposicion || stand.Seccion == TipoSeccion.Rally)
                {
                    Stand standN = new Stand()
                        {
                            Nombre = stand.Nombre,
                            Explicacion = stand.Explicacion,
                            Seccion = stand.Seccion,
                            Estado = "Activo"
                        };
                    db.Stands.Add(standN);
                    db.SaveChanges();
                }
            }
        }

        stands = await db.Stands.Where(c => c.Seccion == TipoSeccion.Rally).ToArrayAsync();

        StateHasChanged();
    }
    private async void EliminarStand()
    {
        using var db = DbFactory.CreateDbContext();

        if (standAEliminar != 0)
        {
            Stand? stand = await db.Stands.Where(c => c.StandId == standAEliminar).SingleOrDefaultAsync();

            if (stand is not null)
            {
                db.Remove(stand);
                db.SaveChanges();
                stands = await db.Stands.Where(c => c.Seccion == TipoSeccion.Rally).ToArrayAsync();
                StateHasChanged();
            }

        }
    }
}

